.app {
  width: 80%;
  margin: auto;
  font-family: Arial;
}

.box {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  font-size: 16px;
}

.warning {
  color: red;
  font-weight: bold;
}
